<div class="container">
  <h4 *ngIf="gameOver">GAME OVER</h4>
  <h4 *ngIf="!gameOver">COME ON!</h4>
  <h4>TIME: {{this.time}} SECONDS</h4>

  <div>Mines count: {{ remainingFlags }}</div>

  <div class="game-board">
    <div class="row" *ngFor="let row of board">
      <div class="cell" *ngFor="let cell of row">
        <div *ngIf="cell.opened" class="opened">
          <i [ngClass]="{'fas fa-bomb': cell.isMine}"></i>
          <span>{{ cell.nearMines }}</span>
        </div>
        <div *ngIf="!cell.opened" [ngClass]="{'correct': gameOver && cell.hasFlag && cell.isMine}" class="closed" (mousedown)="openCell(cell, $event)">
          <i [ngClass]="{'fa fa-question': cell.hasFlag}"></i>
        </div>
      </div>
    </div>
  </div>

  <div class="controls">
    <div class="input-container">
      <label for="boardColumns">Rows </label>
      <input type="text" [(ngModel)]="boardRows" min="6">
    </div>
    <div class="input-container">
      <label for="boardColumns">Colums </label>
      <input type="text" [(ngModel)]="boardColumns" min="6">
    </div>
    <div class="input-container">
      <label for="boardColumns">Quantity of mines </label>
      <input type="text" [(ngModel)]="mines" min="4">
    </div>
    <div class="input-container">
      <button (click)="newGame()">New Game</button>
    </div>
  </div>
</div>
