<div class="container">
  <h4 *ngIf="gameOver">GAME OVER</h4>
  <h4 *ngIf="!gameOver">COME ON!</h4>
  <h4>TIME: {{this.time}} SECONDS</h4>

  <div>Mines count: {{ remainingFlags }}</div>

  <div class="row centered">
    <div class="game-board">
      <div class="row" *ngFor="let row of board">
        <div class="cell" *ngFor="let cell of row">
          <div *ngIf="cell.opened" class="opened">
            <i [ngClass]="{'fa fa-bomb': cell.isMine}"></i>
            <span>{{ cell.nearMines }}</span>
          </div>
          <div *ngIf="!cell.opened" [ngClass]="{'correct': gameOver && cell.hasFlag && cell.isMine}" class="closed" (mousedown)="openCell(cell, $event)" (contextmenu)="false">
            <i [ngClass]="{'fa fa-question': cell.hasFlag}"></i>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row centered">
    <div class="controls">
      <div class="row">
        <div class="form-group">
          <label class="form-label" for="boardColumns">Rows </label>
          <input class="form-control" type="text" [(ngModel)]="boardRows" min="6">
        </div>
      </div>
    
      <div class="row">
        <div class="form-group">
          <label for="boardColumns">Colums </label>
          <input class="form-control" type="text" [(ngModel)]="boardColumns" min="6">
        </div>
      </div>
      
      <div class="row">
        <div class="form-group">
          <label for="boardColumns">Quantity of mines </label>
          <input class="form-control" type="text" [(ngModel)]="mines" min="4">
        </div>
      </div>
      <br>
      <div class="row centered">
        <div class="form-group">
          <button class="btn btn-primary" (click)="newGame()">New Game</button>
        </div>
      </div>
    </div>
  </div>
</div>
